<mat-toolbar color="primary" class="custom-toolbar">
  <mat-icon class="profile-icon mr-0">shopping_bag</mat-icon>
  <span class="bold-text">MyPortfolio</span>
  <span class="spacer"></span>
  <button mat-button class="nav-button" routerLink="/home">Home</button>
  <button mat-button class="nav-button" routerLink="/dashboard">
    Dashboard
  </button>
  <button mat-button class="nav-button" routerLink="/services">
    Investment
  </button>
  <button mat-button class="nav-button" routerLink="/expenses">Expenses</button>
  <button mat-button class="nav-button" routerLink="/report">Report</button>
  <button mat-button class="nav-button" routerLink="/goal">Goal</button>
  <!-- <button mat-button class="nav-button" routerLink="/setting">Setting</button> -->
  <button mat-button class="nav-button" routerLink="/contact">Contact</button>
  <mat-icon class="profile-icon">person</mat-icon>
</mat-toolbar>
